/* Home.css */
.homeMainDiv {
    width: 100%;
    display: flex;
    height: 100vh;
}

.mainDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 90%;
    margin-left: 0.3rem ;
    /* margin: auto; */
}

.question {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.optionsMainDiv {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    transition: all 0.5s;
}

.option {
    width: 100%;
    /* max-width: 48%; */
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid black;
    background-color: rgb(97, 212, 97); /* bg-green-300 */
    cursor: pointer;
}


@media (min-width: 768px) {
  .questionContainer {
      width: 100%;
      margin-left: 5rem ;
  }

  .option {
      width: 42%;
  }

  .nextButton, .submitButton, .navButton {
      padding: 1rem 2rem;
  }
}
.option:hover {
    border-width: 2px;
}

.selectedOption {
    border-width: 2px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

.nextButton, .submitButton, .navButton {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
    border: 2px solid;
    font-weight: bold;
    cursor: pointer;
}

.nextButton {
    color: #ea580c; /* text-orange-600 */
    background-color: white;
    border-color: #c2410c; /* border-orange-700 */
}

.nextButton.disabled {
    color: #ea580c; /* text-orange-600 */
    background-color: white;
    border-color: #c2410c; /* border-orange-700 */
}

.submitButton {
    background-color: #ea580c; /* bg-orange-600 */
    color: white;
}

.navButton {
    background-color: #ea580c; /* bg-orange-600 */
    color: white;
    padding: 15px 10px;
    margin: 10px 20px;
}

.prevButton {
    transform: rotate(90deg);
    

}

.nextButton {
    transform: rotate(90deg);
}
.nextButtonBtn {
  color: #ea580c; /* text-orange-600 */
  background-color: white;
  border-color: #c2410c; 
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
  border: 2px solid;
  font-weight: bold;
  cursor: pointer;
}

.bounce-animation{
    animation: bounce 0.3s alternate;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(15px);
    }
  }
  .fade-in {
    animation: fadeIn 0.5s forwards;
  }
  
  .fade-out {
    animation: fadeOut 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  .slide-out-up {
    animation: slideOutUp 0.5s forwards;
  }
  
  .slide-in-up {
    animation: slideInUp 0.5s forwards;
  }
  
  @keyframes slideOutUp {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-100%); opacity: 0; }
  }
  
  @keyframes slideInUp {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
